{% extends 'base.html' %}
    {% block title %}{{pet.name}} Details{% endblock %}
    {% block content %}
    <div class="container">
    <h1 class="display-1">{{pet.name}} Details Page</h1>
    
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ msg }}</div>
    {% endfor %}

    <div>
        <p><b>Name:</b> {{pet.name}}</p>
        <p><b>Species:</b> {{pet.species}}</p>
        {% if pet.photo_url %}
        <p><img src="{{pet.photo_url}}" alt=""></p>
        {% endif %}
        {% if pet.age %}
        <p><b>Age:</b> {{pet.age}}</p>
        {% endif %}
    </div>
    </div>

    <div class="container">
    <h2 class="display-2">Edit {{pet.name}}</h2>
    <form id="edit-pet-form" method="POST">
        {{ form.hidden_tag() }}
      
        {% for field in form
               if field.widget.input_type != 'hidden' %}
      
          <p>
            {{ field.label(class_="form-label") }}
            {{ field(class_="form-control") }}
      
            {% for error in field.errors %}
            <small class="form-text text-danger">
              {{ error }}
            </small>
            {% endfor %}
          </p>
      
        {% endfor %}
      
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </form>
      <a href="/" class="btn btn-success">All Pets</a>
    </div>
{% endblock %}