{% extends 'base.html' %}
    {% block title %}Pet Adoption Agency{% endblock %}
    {% block content %}
    <h1>Pets</h1>

    {% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
    {% endfor %}

    <div>
        {% for pet in pets %}
        {% if pet.photo_url %}
        <img src="{{pet.photo_url}}" alt="">
        {% else %}
        <h3>No photo available for {{pet.name}} at this time</h3>
        {% endif %}
        {% if pet.available %}
        <p><a href="/{{pet.id}}">{{pet.name}}</a> <b>is available!</b></p>
        {% else %}
        <p>Sorry, <a href="/{{pet.id}}">{{pet.name}}</a> is currently not available!</p>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <a href="/add">Add a New Pet</a>
    </div>
{% endblock %}